@model CrossPlatformLab5.Models.ThirdLabModel

@{
    ViewData["Title"] = "PR3";
}
<h1>@ViewData["Title"]</h1>

<h4>Умова завдання</h4>
<body>
    Дан взвешенный граф. Определить, есть ли в нем цикл отрицательного веса.
</body>

<form method="post" enctype="multipart/form-data" asp-controller="Labs" asp-action="PR3">
    <div class="form-group">
        <textarea type="text" class="form-control" text-wrap:normal" asp-for="AdjacencyMatrix" id="labelAdjacencyMatrix"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
@if (Model != null)
{
    @if (Model.Calculated)
    {
        <div class="form-group">
            <label for="response">@Model.Response</label>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.ErrorValue))
    {
        <div class="form-group">
            <label for="error">@Model.ErrorValue</label>
        </div>
    }
}